<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<ap:Properties xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes" xmlns:ap="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties">
  <ap:Template>Normal.dotm</ap:Template>
  <ap:TotalTime>17</ap:TotalTime>
  <ap:Pages>1</ap:Pages>
  <ap:Words>21</ap:Words>
  <ap:Characters>124</ap:Characters>
  <ap:Application>Microsoft Office Word</ap:Application>
  <ap:DocSecurity>0</ap:DocSecurity>
  <ap:Lines>1</ap:Lines>
  <ap:Paragraphs>1</ap:Paragraphs>
  <ap:ScaleCrop>false</ap:ScaleCrop>
  <ap:HeadingPairs>
    <vt:vector baseType="variant" size="2">
      <vt:variant>
        <vt:lpstr>Title</vt:lpstr>
      </vt:variant>
      <vt:variant>
        <vt:i4>1</vt:i4>
      </vt:variant>
    </vt:vector>
  </ap:HeadingPairs>
  <ap:TitlesOfParts>
    <vt:vector baseType="lpstr" size="1">
      <vt:lpstr></vt:lpstr>
    </vt:vector>
  </ap:TitlesOfParts>
  <ap:Company></ap:Company>
  <ap:LinksUpToDate>false</ap:LinksUpToDate>
  <ap:CharactersWithSpaces>144</ap:CharactersWithSpaces>
  <ap:SharedDoc>false</ap:SharedDoc>
  <ap:HyperlinksChanged>false</ap:HyperlinksChanged>
  <ap:AppVersion>16.0000</ap:AppVersion>
</ap:Properties>